#Ejercicio 1: Indicar si un número N es un número primo

In [ ]:
#WHILE
n = int(input("Introduce un número: "))
es_primo = True
i = 2

while i < n:
    if n % i == 0:
        es_primo = False
        break
    i += 1

if es_primo:
    print(f"{n} es primo")
else:
    print(f"{n} no es primo")

Introduce un número: 5
5 es primo

In [ ]:
#FOR
n = int(input("Introduce un número: "))
es_primo = True

for i in range(2, n):
    if n % i == 0:
        es_primo = False
        break

if es_primo:
    print(f"{n} es primo")
else:
    print(f"{n} no es primo")

Introduce un número: 5
5 es primo

#Ejercicio 2: Imprimir los 30 primeros números de Fibonacci

In [ ]:
#WHILE
a, b = 0, 1
contador = 0

while contador < 30:
    print(a, end=" ")
    a, b = b, a + b
    contador += 1

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229

In [ ]:
#FOR
a, b = 0, 1

for _ in range(30):
    print(a, end=" ")
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229

#Ejercicio 3: Calcular el factorial de un número N

In [ ]:
#WHILE
n = int(input("Introduce un número: "))
factorial = 1
i = 1

while i <= n:
    factorial *= i
    i += 1

print(f"El factorial de {n} es {factorial}")

Introduce un número: 58
El factorial de 58 es 2350561331282878571829474910515074683828862318181142924420699914240000000000000

In [ ]:
#FOR
n = int(input("Introduce un número: "))
factorial = 1

for i in range(1, n + 1):
    factorial *= i

print(f"El factorial de {n} es {factorial}")

Introduce un número: 7
El factorial de 7 es 5040

#Ejercicio 4: Calcular el factorial de 10 números diferentes

In [ ]:
#WHILE
contador = 0

while contador < 10:
    n = int(input("Introduce un número: "))
    factorial = 1
    i = 1
    while i <= n:
        factorial *= i
        i += 1
    print(f"El factorial de {n} es {factorial}")
    contador += 1

El factorial de 6 es 720
El factorial de 8 es 40320
El factorial de 0 es 1
El factorial de 8 es 40320

In [ ]:
#FOR
for _ in range(10):
    n = int(input("Introduce un número: "))
    factorial = 1
    for i in range(1, n + 1):
        factorial *= i
    print(f"El factorial de {n} es {factorial}")

#Leer 20 números y encontrar el mayor y el menor valor leídos

In [ ]:
#WHILE
contador = 0
mayor = float('-inf')
menor = float('inf')

while contador < 20:
    numero = int(input("Introduce un número: "))
    if numero > mayor:
        mayor = numero
    if numero < menor:
        menor = numero
    contador += 1

print(f"El mayor número es: {mayor}")
print(f"El menor número es: {menor}")

In [ ]:
#FOR
mayor = float('-inf')
menor = float('inf')

for _ in range(20):
    numero = int(input("Introduce un número: "))
    if numero > mayor:
        mayor = numero
    if numero < menor:
        menor = numero

print(f"El mayor número es: {mayor}")
print(f"El menor número es: {menor}")

#Ejercicio 6: Mostrar la tabla de multiplicar del número que seleccione el usuario (1 a 10)

In [ ]:
#WHILE
n = int(input("Introduce un número entre 1 y 10: "))

while n < 1 or n > 10:
    n = int(input("Introduce un número válido entre 1 y 10: "))

i = 1
while i <= 10:
    print(f"{n} x {i} = {n * i}")
    i += 1

In [ ]:
#FOR
n = int(input("Introduce un número entre 1 y 10: "))

while n < 1 or n > 10:
    n = int(input("Introduce un número válido entre 1 y 10: "))

for i in range(1, 11):
    print(f"{n} x {i} = {n * i}")

#Ejercicio 7: Calcular la suma 100+90+80+70+…+0

In [ ]:
#WHILE
suma = 0
i = 100

while i >= 0:
    suma += i
    i -= 10

print(f"La suma es: {suma}")

In [ ]:
#FOR
suma = 0

for i in range(100, -1, -10):
    suma += i

print(f"La suma es: {suma}")

#Ejercicio 8: Calcular la serie
1
−
1
2
+
1
3
−
1
4
+
.
.
.
±
1
𝑁
1−
2
1
​
 +
3
1
​
 −
4
1
​
 +...±
N
1
​

In [ ]:
#WHILE
n = int(input("Introduce un número: "))
resultado = 0
i = 1

while i <= n:
    if i % 2 == 0:
        resultado -= 1/i
    else:
        resultado += 1/i
    i += 1

print(f"El resultado de la serie es: {resultado}")

In [ ]:
#FOR
n = int(input("Introduce un número: "))
resultado = 0

for i in range(1, n + 1):
    if i % 2 == 0:
        resultado -= 1/i
    else:
        resultado += 1/i

print(f"El resultado de la serie es: {resultado}")

#Ejercicio 9: Calcular la serie
2
1
+
4
3
+
6
5
+
.
.
.
+
12
11
+
.
.
.
1
2
​
 +
3
4
​
 +
5
6
​
 +...+
11
12
​
 +... hasta N valores

In [ ]:
#WHILE
n = int(input("Introduce un número: "))
resultado = 0
numerador = 2
denominador = 1
contador = 0

while contador < n:
    resultado += numerador / denominador
    numerador += 2
    denominador += 2
    contador += 1

print(f"El resultado de la serie es: {resultado}")

In [ ]:
#
n = int(input("Introduce un número: "))
resultado = 0
numerador = 2
denominador = 1

for _ in range(n):
    resultado += numerador / denominador
    numerador += 2
    denominador += 2

print(f"El resultado de la serie es: {resultado}")

#Ejercicio 10: Multiplicar los números en el rango 1-10 hasta que el usuario introduzca un número fuera del rango

In [ ]:
producto = 1
numero = int(input("Introduce un número (entre 1 y 10): "))

while 1 <= numero <= 10:
    producto *= numero
    numero = int(input("Introduce otro número (entre 1 y 10): "))

print(f"El producto de los números es: {producto}")